* {
	box-sizing: border-box;
}
body {
	margin: 0;
    background: url("fondo.jpg") center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.contenedor_principal{
    min-height: 77vh;
}

.nav-bar {
	background: orange;
	padding: 20px;
	display: block;
	color: white;
	cursor: pointer;
	font-size: 1.5em;
	width: 100%;
}
.menu, .submenu {
	list-style: none;
	padding: 0;
	margin: 0;
}
.menu {
	background: #555;
	width: 100%;
	margin-left: -100%;
	transition: all 0.5s;
	position: absolute;
}
.menu__link {
	display: block;
	padding: 20px;
	color: white;
	font-size: 1.2em;
	text-decoration: none;
}
.menu__link:hover {
	background: #444;
}
.submenu .menu__link:hover {
	background: #222;
}
.submenu {
	height: 0;
	overflow: hidden;
	transition: all 0.3s;
}
.submenu  .menu__link {
	background: #333;
	padding-left: 50px;
}
.mostrar {
	margin-left: 0;
}

p.mensaje_principal{
	margin-left: 10%;
	width: 80%;
    text-align: center;
    text-transform: uppercase;
    color: #09004c;
    font-size: 26px;
}

footer {
  background: #032149;
  align-self: flex-end;
  text-align: center;
  color: #FFFFFF;
  padding: 1em;
  width: 100%;
  height: auto;
}

/*footer{
  	text-align: center;
  	background: ;
  	color: #FFFFFF;
    position: fixed;
    bottom:0;
    clear:both;
    width:100%;
    height:auto;
}*/

@media(min-width: 1024px) {
	.nav-bar {
		display: none;
	}
	.menu {
		margin-left: 0;
		display: flex;
		position: relative;
	}
	.container-submenu {
		position: relative;
	}
	.submenu {
		position: absolute;
		top: 60px;
		width: 200px;
		overflow: visible;
		z-index: 1000;
		opacity: 0;
		visibility: hidden;
	}
	.container-submenu:hover .submenu {
		opacity: 1;
		visibility: visible;
	}
}